<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biblioteca Online</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid" style="display: flex; height: 100vh; padding: 0;">
  <div class="container-half bg-custom rounded" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
    <h1 class="custom-text custom-h1">Bem-vindo à Biblioteca Online</h1>
    <h2 class="custom-text custom-h2">Descubra uma nova dimensão de leitura</h2>
    <p class="custom-text">Explore nossa vasta coleção de livros digitais disponíveis para leitura instantânea. Descubra novos títulos, autores e gêneros, e mergulhe em histórias fascinantes onde quer que esteja.</p>
    <p class="custom-text">Comece sua jornada de leitura hoje mesmo!</p>
    <p class="custom-text">Nossa biblioteca oferece uma ampla variedade de gêneros, incluindo romance, ficção científica, mistério, fantasia, não-ficção e muito mais. Encontre o livro perfeito para você e desfrute de horas de entretenimento literário.</p>
    <p class="custom-text">Além disso, estamos constantemente atualizando nossa coleção com os lançamentos mais recentes e os clássicos atemporais, garantindo que sempre haja algo novo para descobrir e desfrutar.</p>
    <h2 class="custom-text custom-h2">Participe da nossa comunidade de leitores</h2>
    <p class="custom-text">Junte-se a milhares de leitores apaixonados por livros de todo o mundo em nossa comunidade online. Compartilhe suas opiniões sobre os livros que leu, descubra recomendações de leitura e participe de discussões estimulantes.</p>

    <h2 class="cdt">Deseja CADASTRAR seu livro na biblioteca?</h2>
    <a routerLink="/biblioteca" class="btn btn-primary btn-cadastrar">Cadastrar</a>

    <p class="anuncio">Clique em CADASTRAR para poder registrar seus livros na biblioteca virtual</p>
  </div>
    <!-- Imagem apresentada na página-->
    <div class="book1"></div>
  </div>
  </body>
  </html>
