.library-container {
  background-color: #896753;
  border-radius: 20px;
  padding: 20px;
  height: 600px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: auto;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  background-image: url('src/app/image/book1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.caixas-container{
  height: 200px;
}

.row {
  flex: 1;
}

.btn-custom {
  background-color: #2B2928;
  border: none;
  margin-top: 10px;
}

.btn-custom:active {
  background-color: #504B49;
}

.livro-box {
  border-radius: 20px;
  padding: 10px;
  background-color: #a68069;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caixas-container {
  max-height: 290px;
  overflow-y: auto;
}

.btn-group {
  display: flex;
}

.btn-group .btn-custom {
  margin-left: 5px;
  background-color: #2B2928;
}

.btn-group .btn-custom:first-child {
  margin-left: 0;
}

.btn-danger {
  margin-top: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #896753;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 40%;
}

.modal-title {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close svg {
  width: 24px;
  height: 24px;
}

.close svg path {
  fill: #ffffff;
}

.description-box {
  background-color: #2B2928;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  height: 90%;
}

.descricao {
  color: #ffffff;
}

.editar-container {
  background-color: rgba(43, 41, 40, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editar-box {
  background-color: #2B2928;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  max-width: 600px;
  text-align: center;
}

.editar-box .modal-title {
  color: #ffffff;
  margin-top: 0;
}
